<html>
<body style="padding: 0; margin: 0; box-sizing: border-box; width: 920px;">
  <div style="font-size: 50px; font-weight: bold; margin: 10px 10px;">Homecoming Day</div>
  <div>
    <p style='color:black'>회원 가입을 위한 인증번호 입니다.</p>
    <p style='color:black'>아래의 인증 번호를 입력하여 인증을 완료해주세요.</p>
    <h2><%= authCode %></h2>
  </div>
</body>
</html>